.container
  align-items: center
  background-color: #1976d2
  border: 0
  border-radius: 3px
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
  box-sizing: border-box
  color: #fff
  cursor: pointer
  display: inline-flex
  font-family: Roboto,Helvetica,Arial,sans-serif
  font-size: .8125rem
  font-weight: 500
  justify-content: center
  letter-spacing: .02857em
  line-height: 1.75
  outline: 0
  padding: 4px 10px
  position: relative
  text-decoration: none
  transition: background-color .25s cubic-bezier(.4,0,.2,1) 0ms,box-shadow .25s cubic-bezier(.4,0,.2,1) 0ms,border-color .25s cubic-bezier(.4,0,.2,1) 0ms,color .25s cubic-bezier(.4,0,.2,1) 0ms
  -webkit-user-select: none
  user-select: none
  vertical-align: middle
  &.red
    background-color: red
